# Local clasp configuration
.clasp.json
.clasprc.json

# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
bower_components
jspm_packages/
web_modules/

# Build & Cache
.cache
.docusaurus
.dynamodb/
.eslintcache
.firebase/
.fusebox/
.grunt
.next
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnpm-store
.pnp.*
.serverless/
.stylelintcache
.svelte-kit
.temp
.tern-port
.tsbuildinfo
.vite/
.vscode-test
.vuepress/dist
**/.vitepress/cache
**/.vitepress/dist
build/Release
coverage
dist
lib-cov
out
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log
*.lcov
lerna-debug.log*
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*

# Runtime
*.pid
*.pid.lock
*.seed
pids

# Other
.DS_Store
.lock-wscript
.node_repl_history
.yarn-integrity
*.tgz

# VSCode
.vscode/

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions